#design {
}

#design>tr>td {
}

#regexp {
	font-size: 16px;
	font-weight: bold;
	width: 400px;
}

#buttons {
	display: none;
	position: absolute;
	background-color: white;
	border-width: 1px;
	border-style: solid;
}

.button {
	background-color: white;
	border-width: 1px;
	border-style: dotted;
}

.button:hover {
	background-color: grey;
}

#actionBar {
	font-weight: bold;
}

#close {
	display: inline;
	float: right;
}

#close:hover {
	background-color: grey;
}

.node {
	display: block;
}

.showButtons {
	display: inline;
}

.delButtons {
	display: inline;
}

#schema {
	width: 400px;
}

#recycledBin {
	width: 100px;
	height: 100px;
	background-color: graytext;
	color: white;
}

#pieces {
	width: 400px;
}