#design {
	
}

#design>tr>td {
	
}

#buttons {
	display: none;
	position: absolute;
	background-color: white;
	border-width: 1px;
	border-style: solid;
}

.button {
	background-color: white;
	border-width: 1px;
	border-style: dotted;
}

.button:hover {
	background-color: grey;
}

#actionBar {
	font-weight: bold;
}

#close {
	display: inline;
	float: right;
}

#close:hover {
	background-color: grey;
}

.item {
	display: block;
}

.showButtons {
	display: inline;
}

.quantifier {
	display: inline;
}

#quantifierBlock {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}

#schema {
	width: 500px;
}

#recycledBin {
	width: 100px;
	height: 100px;
}

#ressources {
	width: 400px;
}

#advencedTests {
	display: none;
}